@font-face {
  font-family: "iconfont"; /* Project id 4328611 */
  src: url('//at.alicdn.com/t/c/font_4328611_j3sq05atpop.woff2?t=1700036615333') format('woff2'),
  url('//at.alicdn.com/t/c/font_4328611_j3sq05atpop.woff?t=1700036615333') format('woff'),
  url('//at.alicdn.com/t/c/font_4328611_j3sq05atpop.ttf?t=1700036615333') format('truetype');
}

.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-yanjing_xianshi_o:before {
  content: "\ebcc";
}

.icon-yanjing_yincang_o:before {
  content: "\ebcd";
}

.icon-weisuoding:before {
  content: "\e63f";
}

.icon-kaisuohuansuo:before {
  content: "\e629";
}

.icon-suoding:before {
  content: "\e617";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-jiantou_xiangyou:before {
  content: "\eb08";
}

.icon-shangyiji:before {
  content: "\e61c";
}

.icon-fuzhi:before {
  content: "\e7cb";
}

.icon-tongxunlu:before {
  content: "\e640";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-jiedian:before {
  content: "\e60e";
}

.icon-fenxiang:before {
  content: "\eb24";
}

.icon-tuichu:before {
  content: "\e668";
}

.icon-shenqing:before {
  content: "\e665";
}

.icon-shengyin:before {
  content: "\e8b8";
}

.icon-faxian:before {
  content: "\e8c4";
}

.icon-diqiu:before {
  content: "\e811";
}

.icon-dailishang:before {
  content: "\e681";
}

.icon-sun:before {
  content: "\e8be";
}

.icon-yueliang:before {
  content: "\e66a";
}
